<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="well">
      <h1>Let's Find Something to Eat!</h1>
			<div>
    		<%= form_tag results_path do %>
        	<%= text_field_tag :term, nil, placeholder: "What are you hungry for?", class: "form-control" %><br />
        	<%= text_field_tag :address, nil, placeholder:"Where...", class: "form-control" %><br />
        	<%= submit_tag "Feed Me!", class: "btn btn-primary" %>
    		<% end %>
			</div>
    </div>
  </div>
</div>